<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>About the Festival</title>
</head>
<body>
    <h2>About the Festival</h2><br>
    <div class="details-bold">Festival:</div>
    <div><%= festivals %></div>
    <div class="details-bold">Location:</div>
    <div><%= festivals %></div>
    <div class="details-bold">Years Attended:</div>
    <div><%= festivals %></div>
    <div class="details-bold">Website:</div>
    <div><%= festivals %></div>
    <form action="/festivals/<%= festivals._id %>/edit"  method="GET">
    <button type="submit" class="btn btn-warning">Edit Festival</button>
    </form>
</body>
</html>