<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Update Festival</title>
</head>
<body>
    <h2>Update Festival:</h2><br>
    <form action="/festivals/update/<%= festival._id %>?_method=PUT" method="POST">
        <label>Festival Name:
            <input type="text" name="title" value="<%= festival.title %>">
        </label><br><br>
        <label>Location:
            <input type="text" name="location" value="<%= festival.location %>">
        </label><br><br>
        <label>Years Attended:
            <input type="text" name="yearsAttended" value="<%= festival.yearsAttended %>">
        </label><br><br>
        <label>Website:
            <input id="urlInput" type="text" name="festivalUrl" value="<%= festival.websiteUrl %>">
        </label><br><br>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
</body>
</html>